// 变量定义
$theme: #409eff;
$deep-theme: #277bcf;
$h1c: #333333;
$h2c: #555555;
$h3c: #777777;
$border: 1px solid #ececec;

:export {
  theme: $theme;
  h1c: $h1c;
  h2c: $h2c;
  h3c: $h3c;
  border: $border;
}
